{% extends 'base.html' %}
{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<h2>¿Estás seguro que deseas eliminar este evento?</h2>
<p><strong>{{ event.name_event }}</strong></p>
<p>{{ event.date }} | {{ event.location }}</p>
<p>{{ event.description }}</p>
<p>Capacidad: {{ event.capacity }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'event_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}